.AllocatedMain{
    
    /* background-size:     cover;                     */
  
    /* background-size: contain; */
    
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
    align-items: center;
}

.order-table {
    width: 40%;
    margin: 0 0;
    height: 50%;
    /* border-collapse: collapse; */
    border: 2px solid black;
}
.order-table th,
.order-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.order-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.order-table td {
    text-align: center;
}
.order-page {
    text-align: center;
    padding: 20px;
    height: 500px;
    border: 2px solid  black;
}
.man{

    width: 450px;
    
}