#A{
    color:  #f41616;
    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* /* #a{
    color:  #f41616;
    text-align: left;
} */
/* .order-page {
    text-align: center;
    padding: 20px;
    height: 100px;
} */


.dashboard{
    width: 40%;
    margin: 0 0;
    height: 100%;
    margin-left: 30px;
}
    /* border-collapse: collapse; }*/ 

.dashboard th,
.dashboard td {
    border: 1px solid #ccc;
    padding: 10px;
} */ 

.dashboard th {
    background-color: #f5f5f5;
    font-weight: bold;
} */

 .dashboard td {
    text-align: center;
}  
