.signout-page{
    /* border: 2px solid black; */
    height: 490px; 
    padding: "10px";
}
.out{
  align-items: center;
}
.box{
    border: 2px solid black;
    width: 450px;
    padding: 40px;
   
   margin :auto auto;
}
#btn{
    margin: 10px 10px;
}